@charset "utf-8";

body{
	margin:0;
	padding: 0;
}

/*style for the header section of the websitw*/
header{
	float: left;
	width: 100%;
	border-bottom: 1px solid grey;
	height: 7em;
	position: fixed;
	background-color: #fff;
	z-index: 4;
}

header .nav-logo{
	width: 13%;
	float: left;
	margin-left: 1%;
}

/*logo name with tag line*/
header .nav-logo h1{
	font-size: 1.5em;
	font-family: Arial;
	color: red;
}

/*tagline*/
header .nav-logo p{
	font-size: 1.1em;
	line-height: 0.1em;
}

header menu .side-mid ul{
	width: 60%;
	float: left;
}

/*navigation styles*/
header menu li{
	float: left;
	display: inline-block;
	list-style-type: none;
	width: 7%;
	margin-left: 1%;
	margin-top: 5%;
} 

header menu li a{
	font-size: 0.8em;
	font-family: Arial;
	text-align: center;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #000;
	line-height: 4em;
}

header menu li a:hover{
	border-bottom: 3px solid red;
}

/*dropdown menu*/

.side-nav{
	position: fixed;
	width: 15%;
	height: 100em;
	background-color: #000;
	display: inline-block;
	float: left;
	left: 100%;
	transition:all 5s linear;
	-webkit-transition:all 5s linear;
	-moz-transition:all 5s linear;
	-ms-transition:all 5s linear;
	-o-transition:all 5s linear;
}

.side-nav:active{
	left: 0%;
}



.side-nav ul li {
	color: #fff;
	display: block;
	width: 100%;
	list-style-type: none;
	line-height: 2em;
	margin-left: -10%;
}

.side-nav li a{
	color: #fff;
	text-align: left;
}

/*hamburger style for dropdown*/.side-nav .toggle-bar{
	width: 30%;
	position: absolute;	
	margin-left: -50%;
	margin-top: 20%;
	z-index: 3;
}

.side-nav .toggle-bar span{
	display: block;
	width: 70%;
	height: 2em;
	border-top: 5px solid red;
	margin-top: -30%;
	float: left;
}

/*end of dropdown menu*/

/*end of header section styles*/

/*styles for the body*/

.body-section{
	width: 100%;
	float: left;
	margin-top: 15%;
}



.body-left{
	width: 70%;
	float: left;
	/*border: 1px solid #444;*/
	height: auto;
}

/*side bar styles*/.body-right{
	width: 25%;
	margin-left: 2.5%;
	float: left;
	/*border: 1px solid #564;*/
	height: auto;
}

.body-left .first-section{
	width: 90%;
	float: left;
	margin-left: 2.5%;
}

.body-left .first-section .first-left{
	width: 65%;
	float: left;
	margin-left: 2.5%;
}

/*styles for headline*/.body-left .first-section .first-left .headline{
	width: 100%;
	float: left;
	margin-top: 5%;
}

.body-left .first-section .first-left .headline img{
	width: 100%;
	height: 20em;
}

.body-left .first-section .first-left a{
	text-decoration: none;
	color: #000;
	font-family: Arial;
}

.body-left .first-section .first-left .headline a p{
	font-family: Arial;
	font-size: 1.5em;
	text-decoration: none;
	color: #000; 
}

/*style for sections under the headlines, not sidebars*/
.body-left .first-section .first-left .sidenews{
	width: 100%;
	float: left;
}

.body-left .first-section .first-left .sidenews ul{
	margin-left: -14%;
}

.body-left .first-section .first-left .sidenews li{
	width: 30%;
	margin-left: 3%;
	list-style-type: none;
	float: left;
	display: inline-block;
}

.body-left .first-section .first-left .sidenews img{
	width: 100%;
	height: 6em;
}

.body-left .first-section .first-right{
	width: 30%;
	margin-left: 2.5%;
	float: left;
}
.body-left .first-section .first-right img{
	width: 110%;
	margin-top: 12%;
}

.body-left .first-section .first-right  #j-in{
	color: #000;
	line-height: 1.5em;
	background-color: grey;
	display: inline-block;
	width: 110%;
	text-align: center;
	font-family: Arial;
}

.body-left .first-section .first-right ul{
	margin-left: -15%;
}

.body-left .first-section .first-right li a{
	color: #000;
	text-decoration: none;
	font-family: Arial;
	width: 100%;
	margin-top: 5%;
	display: block;
	width: 100%;
	float: left;
}

.body-left .first-section .first-right li{
	list-style-type: none;
	float: left;
	display: block;
	margin-top: 5%;
}

.body-left .first-section .first-right li a:hover{
	border-left: 0.3em solid red;
	color: red;
}

.body-left .first-section .first-right span a{
	width: 110%;
	float: left;
	display: block;
	background-color: #000;
	color: #fff;
	text-align: center;
	margin-top: 2.5%;
	line-height: 2em;
	text-decoration: none;
	font-family: Arial;
}


/*metro plus, politcs, etc section style*/
.second-section{
	width: 90%;
	margin-left: 2.5%;
	float: left;
	margin-top: 5%;
}

.second-section span {
	width: 100%;
	background-color: grey;
	color: #000;
	line-height: 1em;
	display: block;
	float: left;
}

.second-section span p{
	float: left;
	width: 45%;
	margin-left: 5%;
	font-family: Arial;

}

.second-section .news-row{
	width: 100%;
	float: left;
	margin-top: 2.5%;
}

.second-section .news-row a{
	text-decoration: none;
	color: #000;
	font-family: Arial;
}

.second-section span a{
	color: #fff;
	text-decoration: none;
	line-height: 3em;
	float: right;
	width: 45%;
	margin-right: 5%;
	font-family: Arial;
	text-align: right;
}

.second-section .news-col {
	width: 30%;
	float: left;
	margin-left: 3%;
}

.second-section .news-col img{
	width: 100%;
	height: 10em;
}

/*end of first and second section styles*/

/*style for video section style*/

.body-vid{
	width: 100%;
	float: left;
	display: block;
	border-top: 10px solid #000;
	border-bottom: 10px solid #000;
	margin-top: 5%;
}

.vid-left{
	width: 50%;
	float: left;
	margin-left: 5%;
}

.vid-left video{
	width: 100%;
	float: left;
	height: 20em;
	margin-top: 10%;
}

.vid-right{
	width: 30%;
	float: left;
	margin-left: 10%;
	background-color: #000;
}

.vid-right span{
	background-color: grey;
	color: #000;
	width: 100%;
	font-family: Arial;
	text-align: center;
	display: block;
}

.vid-right li {
	display: block;
	width: 90%;
	margin-left: 2.5%;
	list-style-type: none;
	margin-top: 10%;
}

.vid-right li a{
	font-family: Arial;
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
	font-weight: 200;
}

/*end of style for video section style*/



.body-rest{
	width: 100%;
	float: left;
	margin-top: 5%;
}

.body-rest .rest-col{
	width: 20%;
	float: left;
	margin-left: 4%;
	text-align: center;
	box-shadow: 0 0 3px #000;
	font-family: Arial;
}

.body-rest .rest-col img{
	width: 90%;
	height: 7em;
	margin-left: 2.5%;
}

/*style for footer*/

footer{
	width: 100%;
	float: left;
	display: block;
	background-color: #000;
	margin-top: 5%;
}

footer a{
	width: 40%;
	float: left;
	margin-left: 10%;
	line-height: 3em;
	color: #fff;
	text-decoration: none;
	font-family: Arial;
}

/*end of style for footer*/

/*sidebar style begins*/

.body-right img{
	width: 100%;
	height: 35em;
	float: left;
	display: block;
}

.body-right .dets{
	position: absolute;
	z-index: 3;
	margin-left: 10%;
	margin-top: 5em;
	font-family: Arial;
	color: #fff;
	text-shadow: 0 0 3px #000;
}

.body-right .bottom img{
	width: 110%;
}

.body-right .top {
	position: absolute;
	animation: slide 20s infinite;
	-webkit-animation: slide 20s infinite;
	-moz-animation: slide 20s infinite;
	-ms-animation: slide 20s infinite;
	-o-animation: slide 20s infinite;
}

.body-right .dets a{
	display: inline-block;
	width: 50%;
	background-color: #000;
	color: #fff;
	border-radius: 2em;
	line-height: 4em;
	text-align: center;
	text-decoration: none;
}

@keyframes slide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes slide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-moz-keyframes slide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-ms-keyframes slide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-o-keyframes slide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.subscribe {
	width: 100%;
	float: left;
	margin-top: 5%;
	font-family: Arial;
}

.subscribe input[type="email"]{
	width: 80%;
	height: 3em;
	border: 1px solid #000;
	color: #000;
}

.subscribe input[type="submit"]{
	width: 50%;
	background-color: red;
	color: #fff;
	border: 1px solid red;
	line-height: 3em;
	margin-top: 1%;
}

.archive {
	width: 100%;
	float: left;
	margin-top: 5%;
	font-family: Arial;
}

.archive h4{
	font-size: 1.2em;
}

.archive li{
	display: block;
	width: 100%;
	line-height: 3em;
	list-style-type: none;
	margin-left: -10%;
}

.archive li a{
	font-family: Arial;
	font-size: 1.1em;
	color: #000;
	display: block;
	width: 90%;
	line-height: 3em;
	list-style-type: none;
	margin-left: -10%;
	width: 100%;
	text-decoration: none;
	text-align: center;
	border-bottom: 0.1em solid #000;
}
/*sidebar style ends*/























